# Dev environment
autopep8==2.3.1
python-dotenv==1.0.1
nbimporter==0.3.4
nbformat
httpx
# App
google-generativeai==0.8.3  # Client library for the Gemini API
pillow==11.0.0  # PIL image-loading library
